.nav-div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 30px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  @apply bg-gray-900 rounded-full;
}

.nav-img {
  margin: 8.5px;
  padding: 6.5px;
  @apply bg-gray-900 text-white rounded-full transition-all duration-300;
  &:hover {
    @apply bg-white text-gray-900 transform scale-105;
  }
  &:active {
    @apply transform scale-95;
  }
}

.nav-div-img {
  height: 25px;
  width: 25px;
}
