.skills-card {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 160px;
    border-radius: 20px;
    @apply bg-gray-900 text-white tracking-wide transition-all duration-300;
    &:hover {
        @apply transform scale-105 bg-white text-gray-900;
        cursor: default;
    }
}

.skills-img {
    height: 50px;
    width: 50px
}